@import url(normalize.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	background-color: #eeeeee;
}
a {
	text-decoration: none;
}
        /* ------.container ------*/
.container {
	padding: 0 16px;
	margin: 0 auto;
	max-width: 1200px; 
	font-size: 0;
}
.header-section {
	color: #303030;
	font-family: 'Raleway', sans-serif;
	text-align: center;
    padding: 0 320px;
}
.header-section__title {
	margin: 0;
	padding-top: 72px;
	font-size: 48px;
	font-weight: 900;
	line-height: 90px;
}
.header-section__subtitle {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
 		/* ------.container ------*/
 		
		/* ------ header ------*/
.main-nav {
	width: 100%;
	padding-top: 50px;
	margin-bottom: 100px;
	display: inline-block;
	font-size: 0;
}
a.logo {
	display: inline-block;
	width: 25%;
	font-family: 'Roboto', sans-serif;
    color:  #303030;
	font-size: 48px; /*3em*/
	font-weight: 900;
	line-height: 52px;/*3.25em*/
	text-align: left;
	letter-spacing: 0.025em;
	vertical-align: middle;
}
a.logo:hover span {
	color: rgba(48, 48, 48, 0.3);
	cursor: pointer;
	transition: all .3s ease;
}
.logo span {
	padding-left: 6px; /*0.375em*/
}
ul.menu {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 75%;
	list-style: none;
	text-align: right;
	font-size: 0;
	vertical-align: middle;
}
ul.menu li {
	display: inline-block;
	padding-right: 40px; 
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	letter-spacing: 0.025em;
	font-weight: 400;
	line-height: 27px; 
	text-align: left;
}
ul.menu li:last-child {
	padding-right: 0;
}
.menu a {
	display: inline-block;
	color:  #303030;
}
ul.menu li:hover a {
	color: rgba(48, 48, 48, 0.5);
	cursor: pointer;
	transition: all .3s ease;
}
button {
	padding: 0;
	border: none;
    background-color: transparent;
    color: #303030;
    cursor: pointer;
    outline: none;
}
button:hover i {
	color: rgba(48, 48, 48, 0.5);
	transition: all .3s ease;
	cursor: pointer;
}
/* ------ header ------*/

/* ------ main ------- */
/* ---------- .slider --------  */
.slider-content {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	position: relative;
	z-index: 100;
}
.slider-image {
	display: inline-block;
	width: 50%;
	padding: 0 76px;
	vertical-align: top;
	position: relative;
	text-align: center;
}
.slider-image img {
	max-width: 100%;
}
h1.title {
	margin: 0;
	padding-bottom: 20px;
	font-family: 'Raleway', sans-serif;
	color:  #303030;
	font-size: 150px;
	font-weight: 900;
	line-height: 150px;
	text-align: right;
	text-transform: uppercase;
}
.slider-content p {
	max-height: 100px;
	padding-left: 42px;
	margin: 0 0 20px 0;
	font-family: 'Roboto', sans-serif;
	color:  #303030;
	font-size: 24px;
	font-weight: 300;
	line-height: 36px;
	text-align: right;
    overflow-y:auto;
    white-space: pre-wrap;
}
.slider::after {
	content: "";
  	position: absolute;
  	left: 498px;
  	top: 0px;
  	width: 947px;
  	height: 852px;
  	content: "";
    background-image: url("../img/bg-gradient.png");
  	z-index: -1;
}
a.project {
	display: block;
	/* margin-top: 20px; */
	text-align: right;
	color: #e10011;
    font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;	
}

 .slider-content a:hover span {
	color: rgba(225, 0, 17, 0.5);
	cursor: pointer;
	transition: all .3s ease;	
}
.slider-image {
	margin-bottom: 64px;
}
.slider-nav {
	padding: 0;
/* 	margin-top: 64px; */
	margin-bottom: 100px;
    list-style: none;
    text-align: center;
}
ul.slider-nav li {
	display: inline-block;
	font-size: 13px;
}
.slider-nav button {
	position: relative;
	width: 11px;
    height: 11px;
    padding: 0;
    border-radius: 50px;
    border: none;
    background-color: #303030;
}
.slider-nav li:nth-child(2) button {
	margin: 0 14px;
}
.slider-nav button span {
	visibility: hidden;
	position: absolute;
	
}
.slider-nav button:hover {
	cursor: pointer;
	background-color: rgba(48, 48, 48, 0.5);
	transition: all .3s ease;
}
.slider-nav button.active {
	background-color: #e10011;
}
/* ---------- .slider --------  */
/* ---------- .features ------  */
.features__container {
	background-color: #FFF;
}
.features__list {
	padding: 72px 56px;
}
.features__item {
	max-width: 100%;
	max-height: 100%;
	opacity: 0;     
}

.features__item--wrap {
	margin-bottom: 32px;
	height: 387px;
	border-radius: 5px;
}
.features__item--wrap--first {
	width: 65%;
	float: left;
	background: #eeeeee url("../img/speaker.png") no-repeat left top; 
}
.features__item--wrap--second {
	width: 31%;
	float: right;
	margin-left: 31px;
	background: #eeeeee url("../img/beatsa.png") no-repeat right top;
}
.features__item--wrap--third {
	width: 31%;
	float: left;
	margin-right: 31px;
	background: #eeeeee url("../img/fit.png") no-repeat right bottom;
}

.features__item--wrap--fourth {
	width: 31%;
	float: left;
	background: #eeeeee url("../img/shoes.png") no-repeat 50% 50%;
}
.features__item--wrap--fifth {
	width: 31%;
	float: right;
	margin-left: 32px;
	background: #eeeeee url("../img/tumblr.png") no-repeat 50% 50%;
}
.features__item--wrap--hover {
	display: none; 
	position: relative;
	color: #ffffff;        
	padding-left: 36px;
	bottom: 120px;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 900;
}
.features__item--hover--underline {
	padding-bottom: 10px;
	border-bottom: 5px solid #FFF;
}  
.features__item--wrap:hover  .features__item--wrap--hover {
	display: block;
	transition: all .5s ease;
} 
.features__item--wrap:hover {
	background: #e10011;
	transition: all .5s ease;
} 

/* ---------- .features ------  */
/* ---------- .contacts ------  */
.contacts__subscribe {
	padding-top: 16px;
	margin-bottom: 116px;
	
}
.contacts__subscribe--form {
	width: 60%;
	margin: 0 auto;
	position: relative;
}
.contacts__subscribe--form--left {
    -webkit-appearance: none;
    width: 100%;
    height: 70px;
    padding: 0 66px;
    border-radius: 35px;
    background-color: #ffffff;
    outline: none;
    border: none;
    line-height: 70px;
    font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 600;
	font-style: italic;
}
.contacts__subscribe--form--letter {
	color: #979797;
	font-size: 18px;
	position: relative;
    top: 44px;
    left: 38px;
}
.contacts__subscribe--form--right {
	/* position: absolute; */
	position: relative;
	left: 500px;
    bottom: 70px;
    width: 208px;
    height: 70px;
   /*  right: 0;
    bottom: 0; */
    border-radius: 0 35px 35px 0;
    color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
    border: none;
    outline: none;
    background-color: #e10011;
}
/* .contacts__subscribe--form--submit {
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
    position: absolute;
    top: 45px;
    right: 30px;
 } */
 .contacts__subscribe--form--submit {
 	color: #ffffff;
    /* display: block; */
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    top: 20px;
    right: -10px;
    width: 208px;
    height: 70px;
    padding: 25px 0 0 155px;
}
.contacts__subscribe--form--left:hover {
	cursor: pointer;
	background-color: rgba(48, 48, 48, 0.1);
	transition: all .3s ease;
} 
.contacts__subscribe--form--left:focus {
	background-color: #ffffff;
	transition: all .3s ease;
}
.contacts__subscribe--form--right:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: #e10011;
	transition: all .3s ease;
}
.contacts__subscribe--form--submit:hover {
	color: #e10011;
	transition: all .3s ease;
} 
/* ---------- .contacts ------  */
/* ---------- .social ------  */
.contacts__social {
	margin-bottom: 112px;
}
.contacts__social__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.contacts__social__list--item {
	display: inline-block;
	margin: 0 10px;
	width: 70px;
	height: 70px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	border: none;
	background-color: #ffffff;
	
}
.contacts__social__list--item--link {
	display: block;
	color: #979797;
	font-size: 34px;
	font-weight: 400;
	line-height: 70px;
	text-align: center;
}

.contacts__social__list--item:hover  {
	background-color: #979797;
	transition: all .3s ease;
}
.contacts__social__list--item:hover .contacts__social__list--item--link {
	color: #ffffff;
	transition: all .3s ease;
}
/* ---------- .social ------  */
/* ---------- .footer ------  */
.footer__info {
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #979797;
}
.footer__info--link {
	color: #303030;
}
.footer__info--link:hover {
	color: #ffffff;
	transition: all .3s ease;
}















